  body {
  background-color: black;
}

.encabezado {
  background-color: #46acfa;
  color: black;
  width: 100%;
  margin-top: 20px;
  height:150px;
  margin-bottom: 20px;
}

#carrito{
  display: flex;
  float:right;
  vertical-align: text-bottom;
  justify-content: baseline;
}

#hueso {
  height: 100px;
  margin-top: 20px;
  margin-left: 100px;
  max-width: max-content;
}

#logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alineacion {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
#titulo1 {
  font-size: 90px;
  margin-left: 70px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: bold;
  font-weight: 900;
  font-family:"Arial Black", Helvetica, sans-serif ;
  line-height:0px;
  vertical-align: text-top;
  padding-top: 20px;
}
#titulo2 {
  font-size: 90px;
  margin-left: 70px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: bold;
  font-weight: 900;
  font-family:"Arial Black", Helvetica, sans-serif ;
  line-height:0px;
  vertical-align: text-bottom;
  
}

#titulo {
  font-size: 80px;
  margin-left: 70px;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 900;

}

.barra{
  width: 100%;
  height: 55px;
  background-color: #FF6700;
  display: flex;
  align-content: center;
  justify-content: center;
}

.botones {
  height: 40px;
  width: 120px;
  border: none;
  font-style:bold;
  font-weight: 900;
  background-color: #46ACFA;
  margin-left: auto;
  margin-right: auto;
  float:right;
  font-family:"Arial Black", Helvetica, sans-serif ;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.botones2{
  font-family:"Arial Black", Helvetica, sans-serif ;
  height: 20px;
  text-align: justify, center;
  width: 200px;
  border: none;
  padding-top: 15px;
  font-style:bold;
  font-weight: 900;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  line-height:17px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  background-color: #FF6700;
}

.botones3{
  font-family:"Arial Black", Helvetica, sans-serif ;
  height: 20px;
  text-align: justify, center;
  width: 200px;
  border: none;
  padding-top: 12px;
  font-style:bold;
  font-weight: 900;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  line-height:17px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  background-color: #FF6700;
}

.imagenes {
  background-color: #762CDE ;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  gap: 10px;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}


.imagen{
    margin-top: 20px;
}

.imagenPerros{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.productos2 {
  background-color: #FF6700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.mapa {
  height: 100px;
  margin-top: 10px;
  
  }
  .direccion {
  text-align: center;
      
  }

 .derecha{
    display: flex;
    flex-direction: row;
 }

 .redes1{
  width: 20px;
  height: 20px;
  margin: 20px;
 }

.imagenConTexto{
    margin-top: 20px;
    width: 60%;
    flex-direction: column;
    text-align: center;
  }

  .izquierda{
    margin-left: 40px;
  }

  .centro{
    width: 600px;
    text-align: center;
  }
  .mensaje{
    color:#FFFCFC;
    text-align: center;
  }
  .frametitulo{
    background-color: #FF6700;
    text-align: center;
    width: 60%;
    margin-left: 45px;
    margin: 20px;
    height: 30%;
    font-family:"Arial Black", Helvetica, sans-serif ;
  }
  .frameimagen{
    background-color: #762CDE;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
  }
  .textvalor{
    color: #F5F5F5;
    font-family:"Arial Black", Helvetica, sans-serif ;
  }
  .parrafo{
    font-family: 'Inter';
    font-style:normal;
    font-weight: 800;
    font-size: 15px;
    font-family:"Arial Black", Helvetica, sans-serif ;
  }


  .divi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .divi2{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .botonesDes{
    height: 50px;
    text-align: center;
    width: 200px;
    font-style:bold;
    font-weight: 900;
    font-size: large;
    background-color: #FF6700;
    margin-left: auto;
    margin-right: auto;
  }