body {
  background-color: black;
}

.encabezado {
  background-color: #46acfa;
  color: black;
  width: 100%;
  margin-top: 20px;
  height:150px;
  margin-bottom: 20px;
}

#carrito{
  display: flex;
  float:right;
  vertical-align: text-bottom;
  justify-content: baseline;
}

#hueso {
  height: 100px;
  margin-top: 20px;
  margin-left: 100px;
  max-width: max-content;
}

#logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alineacion {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}



#titulo1 {
  font-size: 90px;
  margin-left: 70px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: bold;
  font-weight: 900;
  font-family:"Arial Black", Helvetica, sans-serif ;
  line-height:0px;
  vertical-align: text-top;
  padding-top: 20px;
}

#titulo2 {
  font-size: 90px;
  margin-left: 70px;
  color: black;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: bold;
  font-weight: 900;
  font-family:"Arial Black", Helvetica, sans-serif ;
  line-height:0px;
  vertical-align: text-bottom;
}

.barra{
    width: 100%;
    height: 55px;
    background-color: #FF6700;
    display: flex;
    align-content: center;
    justify-content: center;
}

.botones {
  height: 40px;
  width: 120px;
  border: none;
  font-style:bold;
  font-weight: 900;
  background-color: #46ACFA;
  margin-left: auto;
  margin-right: auto;
  float:right;
  font-family:"Arial Black", Helvetica, sans-serif ;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.botones2{
  font-family:"Arial Black", Helvetica, sans-serif ;
  height: 50px;
  text-align: justify, center;
  width: 200px;
  border: none;
  padding-top: 15px;
  font-style:bold;
  font-weight: 900;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  line-height:17px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.botones3{
  font-family:"Arial Black", Helvetica, sans-serif ;
  height: 50px;
  text-align: justify, center;
  width: 200px;
  border: none;
  padding-top: 12px;
  font-style:bold;
  font-weight: 900;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  line-height:17px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.imagenes {
  background-color: #762CDE ;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  gap: 10px;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}


.imagen{
    margin-top: 20px;
    margin-bottom: 80px;
}

.imagenPerros{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.productos2 {
  background-color: #FF6700;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.mapa {
  height: 100px;
  margin-top: 10px;
  
  }
  .direccion {
  text-align: center;
      
  }

 .derecha{
    display: flex;
    flex-direction: row;
 }

.imagenConTexto{
    margin-top: 20px;
    width: 60%;
    flex-direction: column;
    text-align: center;
  }

  .izquierda{
    margin-left: 40px;
    width: 20%;
  }

  .centro{
    width: 50%;
    text-align: center;
  }

  .productos1{
    font-family:"Arial Black", Helvetica, sans-serif ;
  }

  #map{
    align-items: center;
    margin-top: 0px;
    height: 170px;
    width: 500px;
    vertical-align: middle;
  }
  #redes{
    display: flex;
    align-items: right;
    margin-left: 100px;
  }
  #footer{
    background-color: #FF6700;
    color: black;
    width: 100%;
    margin-top: 20px;
    height:250px;
    font-family:"Arial Black", Helvetica, sans-serif ;
  } 
  #texto{
    display: flex;
    width: 300px;
    padding-top: 20px;
    m